table {
    background-color: #ffffff;
    box-shadow: 0 0 10px #cccccc;
}

#dataForm {
    padding: 15px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 10px #cccccc;
}

#deleteForm {
    display: inline-block;
}

.alert-custom {
    float: right;
    border: 1px solid green;
    border-radius: 4px;
    background-color: #dff0d8;
    color: #3c763d;
    padding: 6px 10px;
}

.alert-custom p {
    margin: 0;
}

.alert-custom p span {
    font-weight: bold;
}

hr {
    border-top: 1px solid #dddddd;
}